$color-primary: #0d1b2a;
$color-primary-light: #415a77;

.Spinner {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
    border: 0.5rem solid $color-primary-light;
    border-top: 0.5rem solid $color-primary;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
